<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Dojo</title>
</head>
<body>
    <div class="container d-flex pt-4">
        <div class="col-6">
            <h1>New Dojo</h1>
            <form action="/create_dojo" method="POST">
                <label for="name">Name:</label>
                <input type="text" name="name">

                <button class="btn btn-primary">Create</button>
            </form> 
        </div>

        <div class="col-6 ">
            <h1>All Dojos</h1>
            <div class="dojoList border border-primary w-50 p-2 mb-3" data-bs-spy="scroll">
                {% for one_dojo in all_dojos %}
                <a href="/dojo/{{one_dojo.id}}">{{one_dojo.name}}</a>
                <br>    
                {% endfor %}
            </div>
            <a href="/ninjas">Add Ninja</a>
        </div>
    </div>

</body>
</html>